@media screen and (min-width: 300px) and (max-width: 600px) {
    body {
        background: url(../img/bg_mobile.png) no-repeat fixed bottom;
    }
}

@media screen and (min-width: 600px) {
    body {
        background: url(../img/bg_pc.png) no-repeat fixed center;
    }
}

.bg {
    background-color: #33333345;
    box-shadow: 3px 3px 45px #0000009f;
    backdrop-filter: blur(24px);
    border-radius: 16px;
    margin: auto;
    padding: 7.5px;
}