.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    gap: 15px;
}

a {
    color: #e5e4e0;
    text-decoration: none;
}

.game_library {
    grid-column: 1/2;
    grid-row: 1/2;
}

.music_library {
    grid-column: 2/3;
    grid-row: 1/2;
}

.find {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    width: 90%;
}

.game_library {
    justify-self: center;
    position: relative;
    left: 4%;
    width: 85.5%;
    height: 90%;
}

.music_library {
    justify-self: center;
    position: relative;
    right: 4%;
    width: 85.5%;
    height: 90%;
}

.game_library,
.music_library,
.find {
    background-color: #33333345;
    box-shadow: 3px 3px 45px #0000009f;
    backdrop-filter: blur(24px);
    border-radius: 16px;
    margin: auto;
    padding: 7.5px;
}

.find_img {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: auto;
}